<p id="notice"><%= notice %></p>

<h1 class="library-headline text-center">Authors</h1>
<div class="action-wrapper desktop-text-left mobile-text-center">
  <%= link_to 'Back', books_path, class: 'back-link' %>
</div>
<div class="library-table-wrapper">
  <table class="table table-inverse table-striped table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= link_to 'Remove', author, method: :delete, data: { confirm: 'Deleting an author will delete all books written by that author. Are you sure you want to continue?' } %></td>
          <td><%= author.first_name %></td>
          <td><%= author.last_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
